*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
h1{
    font-family: 'Fredoka One', cursive;
    margin-top: 30px;
    color: rgb(211, 67, 112);
}
p{
    font-family: 'Fredoka', sans-serif;
    margin-top: 50px;
}